@layer base {
  body {
    background-color: black;
  }
}

@layer layout {
  body {
    display: grid;
    grid-template:
      'controls controls'
      'content sidebar';
    justify-content: center;
  }
}
