@layer layout {
  .control-panel {
    grid-area: controls;
    padding: 4px;
    background: #ddd;
    display: flex;
    gap: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .control {
    display: flex;
    align-items: center;
  }
}

@layer components {
  .control-panel .control > input {
    width: 12rem;
    min-height: 30px;
  }
}

@media print {
  .controls {
    display: none;
  }
}
