@layer layout {
  .controls {
    grid-area: controls;
    padding: 4px;
    background: #ddd;
    display: flex;
    gap: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .control {
    display: flex;
    align-items: center;
  }
}

@layer components {
  .controls input {
    width: 14rem;
  }
}

@media print {
  .controls {
    display: none;
  }
}
