@layer components {
  .establishment {
    display: flex;
    justify-content: space-between;
  }

  .establishment-size {
    color: var(--clr-foreground-active);
    font-size: small;
    background: var(--clr-name-background);
    padding: 0 0.4rem;
    border-radius: 5px;
  }
}
