@layer components {
  .switchLabel {
    margin-right: 0.5rem;
  }

  .switchRoot {
    all: unset;
    width: 32px;
    height: 16px;
    background-color: var(--clr-decoration-muted);
    border-radius: 2rem;
    position: relative;
    box-shadow: 0 0px 2px #444040d6;
    will-change: background-color;

    &[data-state='checked'] {
      background-color: var(--clr-heading);
    }
  }

  .switchThumb {
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--clr-foreground--ondark);
    border-radius: 9999px;
    transition: transform 100ms;
    transform: translateX(3px);
    will-change: transform;

    &[data-state='checked'] {
      transform: translateX(17px);
    }
  }

  .switchRoot {
    &:hover {
      cursor: pointer;

      .switchThumb {
        background-color: oklch(
          from var(--clr-foreground--ondark) calc(l + 0.05) c calc(h + 45)
        );
      }
    }
  }
}
